html, body, header, nav, h1, a, h3, h2,
ul, li, input, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: inherit; }

ul {
  list-style: none; }

img {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid #ccc; }

body {
  font-family: sans-serif;
  font-size: 14px;
  color: #000;
  background: #f5f5f5;
  line-height: 1.5em; }

header {
  background-color: #2ce6ce;
  width: 1000px;
  padding: 10px 5px;
  margin: auto; }
  header h3 {
    display: block;
    width: 75px;
    height: 75px;
    padding: 0 0;
    margin: auto;
    background: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%22500px%22%20height%3D%22500px%22%20viewBox%3D%220%200%20500%20500%22%20enable-background%3D%22new%200%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M296.6%2C327.66c-7.719%2C0-17.391-3.148-27.496-14.264c-14.445-15.889-19.293-53.035-19-92.182%20%20c-2.33%2C0.053-4.654%2C0.082-6.984%2C0.09c-0.875%2C43.93-7.33%2C85.627-25.707%2C99.17c-9.365%2C6.902-20.732%2C8.051-32.012%2C3.229%20%20c-26.342-11.27-51.521-55.551-57.326-100.816c-0.992-7.74-1.119-15.27-0.422-22.525c-2.271-1.027-4.492-2.096-6.643-3.199%20%20c-40.631-20.836-76.678-69.121-83.852-112.318c-4.215-25.4%2C1.508-47.064%2C16.559-62.65C72.789%2C2.438%2C105.354-2.781%2C140.828%2C8.225%20%20c37.809%2C11.732%2C85.33%2C45.541%2C94.828%2C102.217c3.334%2C19.881%2C7.1%2C56.029%2C7.533%2C93.064c2.463-0.01%2C4.926-0.045%2C7.381-0.104%20%20c1.621-36.439%2C7.072-72.105%2C12.807-91.662c14.424-49.154%2C48.924-88.904%2C90.033-103.734c27.963-10.084%2C56.111-7.039%2C79.27%2C8.566%20%20c22.068%2C14.873%2C32.914%2C35.395%2C31.361%2C59.346c-3.047%2C47.066-52.504%2C96.674-98.25%2C120.26c1.012%2C9.047%2C0.457%2C18.361-1.797%2C27.67%20%20c-5.307%2C21.887-25.334%2C93.99-60.254%2C102.906C301.627%2C327.297%2C299.227%2C327.66%2C296.6%2C327.66z%20M267.992%2C220.391%20%20c-0.385%2C36.096%2C3.445%2C69.234%2C14.221%2C81.092c9.211%2C10.127%2C15.18%2C8.609%2C17.145%2C8.107c17.93-4.578%2C37.424-48.701%2C47.416-89.916%20%20c1.279-5.283%2C1.848-10.572%2C1.744-15.793C325.131%2C212.832%2C297.061%2C218.336%2C267.992%2C220.391z%20M144.961%2C207.109%20%20c-0.133%2C4.385%2C0.096%2C8.902%2C0.686%2C13.525c5.422%2C42.273%2C28.533%2C79.002%2C46.721%2C86.775c5.578%2C2.389%2C10.191%2C2.002%2C14.533-1.199%20%20c11.451-8.438%2C17.461-43.307%2C18.52-85.266C196.688%2C219.674%2C168.707%2C215.062%2C144.961%2C207.109z%20M147.625%2C189.289%20%20c22.498%2C7.951%2C49.812%2C12.568%2C77.951%2C13.85c-0.211-29.928-2.729-61.943-7.391-89.768c-7.645-45.611-47.002-77.176-82.607-88.227%20%20c-28.949-8.982-54.791-5.486-69.115%2C9.357c-13.895%2C14.389-14.102%2C33.74-11.824%2C47.439c6.338%2C38.182%2C38.348%2C80.939%2C74.457%2C99.455%20%20c0.697%2C0.357%2C1.4%2C0.711%2C2.113%2C1.061c7.475-24.246%2C25.211-44.064%2C51.303-56.078c4.443-2.043%2C9.707-0.1%2C11.75%2C4.344%20%20c2.045%2C4.443%2C0.102%2C9.705-4.342%2C11.75C167.84%2C152.641%2C153.309%2C169.004%2C147.625%2C189.289z%20M385.865%2C19.83%20%20c-9.975%2C0-19.066%2C2.182-26.441%2C4.842c-35.352%2C12.752-66.377%2C48.887-79.045%2C92.059c-5.697%2C19.42-10.338%2C52.586-11.871%2C85.785%20%20c28.176-2.115%2C55.166-7.609%2C76.979-16.484c-5.934-18.244-20.299-34.262-40.924-44.064c-4.418-2.1-6.299-7.385-4.199-11.803%20%20c2.1-4.42%2C7.383-6.301%2C11.805-4.199c24.443%2C11.615%2C41.719%2C30.535%2C49.49%2C52.346c40.711-22.332%2C82.25-65.668%2C84.703-103.537%20%20c1.137-17.559-6.799-32.197-23.584-43.51C410.154%2C22.758%2C397.418%2C19.83%2C385.865%2C19.83z%22%2F%3E%20%3Cg%3E%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M67.609%2C399.25c12.676%2C0%2C24.227%2C3.811%2C24.227%2C18.73c0%2C7.4-4.264%2C12.557-10.32%2C15.699%20%20%20c8.41%2C2.129%2C14.131%2C7.961%2C14.131%2C17.836c0%2C14.576-10.092%2C22.316-28.711%2C22.316H35.42v-9.084l3.701-0.338%20%20%20c1.908-0.221%2C3.252-0.896%2C3.252-3.141v-52.152l-6.393-0.334v-9.533H67.609z%20M56.057%2C429.867h8.301%20%20%20c9.645%2C0%2C13.57-4.486%2C13.57-10.43c0-8.074-5.498-9.871-12.785-9.871h-9.086V429.867z%20M56.057%2C463.289H66.6%20%20%20c10.99%2C0%2C14.58-5.047%2C14.58-11.887c0-7.514-5.162-11.551-14.02-11.551H56.057V463.289z%22%2F%3E%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M155.764%2C473.832h-18.17v-7.291c-3.926%2C5.609-10.768%2C8.75-18.17%2C8.75%20%20%20c-11.215%2C0-17.383-6.172-17.383-19.402V429.98c0-2.355-0.898-3.031-2.803-3.141l-3.592-0.225v-9.197h19.74v35.553%20%20%20c0%2C6.84%2C1.123%2C12.002%2C8.301%2C12.002c7.852%2C0%2C12-5.271%2C12-11.104v-23.668c0-2.467-0.672-3.252-2.805-3.361l-3.59-0.225v-9.197%20%20%20h19.742v43.965c0%2C2.465%2C0.67%2C3.027%2C2.803%2C3.25l3.926%2C0.34V473.832z%22%2F%3E%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M177.074%2C405.529v11.889h14.918l-1.127%2C9.422h-13.791v29.496c0%2C6.84%2C2.691%2C8.859%2C7.289%2C8.859%20%20%20c3.029%2C0%2C5.834-1.232%2C7.629-2.354l3.365%2C8.637c-3.365%2C2.354-8.975%2C3.924-14.248%2C3.924c-17.498%2C0-17.381-10.77-17.381-18.615%20%20%20V426.84h-7.965l1.121-8.189c7.85-0.67%2C10.543-6.73%2C12.9-13.121H177.074z%22%2F%3E%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M216.666%2C405.529v11.889h14.914l-1.123%2C9.422h-13.791v29.496c0%2C6.84%2C2.691%2C8.859%2C7.291%2C8.859%20%20%20c3.027%2C0%2C5.83-1.232%2C7.623-2.354l3.365%2C8.637c-3.365%2C2.354-8.971%2C3.924-14.244%2C3.924c-17.496%2C0-17.385-10.77-17.385-18.615V426.84%20%20%20h-7.959l1.117-8.189c7.854-0.67%2C10.543-6.73%2C12.9-13.121H216.666z%22%2F%3E%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M280.93%2C431.326c0%2C17.271-18.732%2C20.189-31.965%2C20.295c0.449%2C7.297%2C4.262%2C13.24%2C13.795%2C13.24%20%20%20c6.619%2C0%2C11.439-3.031%2C14.133-4.938l4.262%2C9.086c-1.793%2C1.568-9.195%2C6.281-19.738%2C6.281c-19.068%2C0-26.471-11.668-26.471-28.379%20%20%20c0-16.594%2C9.311-31.178%2C27.703-31.178C273.641%2C415.734%2C280.93%2C421.344%2C280.93%2C431.326z%20M261.863%2C425.266%20%20%20c-8.973%2C0-13.01%2C8.639-13.348%2C16.938c8.301-0.111%2C20.078-2.018%2C20.078-10.654C268.594%2C427.398%2C265.904%2C425.266%2C261.863%2C425.266z%22%20%20%20%2F%3E%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M291.883%2C430.201c0-2.467-0.676-3.252-2.803-3.361l-4.713-0.334v-9.088h18.957v8.41%20%20%20c2.578-5.605%2C8.52-10.094%2C15.928-10.094c3.699%2C0%2C7.061%2C0.672%2C10.764%2C2.467v16.713l-10.434%2C0.785v-5.162%20%20%20c0-1.344-0.225-2.354-1.121-2.803c-1.01-0.447-1.791-0.557-3.025-0.557c-6.055%2C0-10.207%2C4.818-10.207%2C11.326v26.02l9.758%2C0.449%20%20%20v8.859h-30.059v-8.525l3.701-0.334c2.129-0.225%2C3.254-0.898%2C3.254-3.703V430.201z%22%2F%3E%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M346.586%2C426.84h-9.645v-9.422h9.645v-4.262c0-8.971%2C2.018-20.412%2C19.4-20.412%20%20%20c4.938%2C0%2C11.777%2C1.797%2C15.59%2C3.924l-3.254%2C8.971c-3.246-1.68-7.51-2.803-10.652-2.803c-5.607%2C0-7.74%2C3.143-7.74%2C9.312v5.27h16.6%20%20%20v9.422h-16.6v37.57l9.424%2C0.451v8.971h-29.721v-8.525l3.699-0.334c2.131-0.225%2C3.254-0.898%2C3.254-3.703V426.84z%22%2F%3E%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M404.807%2C464.523l6.389%2C0.338v8.971h-26.689v-8.525l3.701-0.334c2.016-0.225%2C3.25-0.898%2C3.25-3.59v-55.291%20%20%20c0-2.021-1.119-2.58-2.803-2.695l-3.924-0.221v-9.311h20.076V464.523z%22%2F%3E%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M453.141%2C463.176c-3.924%2C5.609-10.768%2C8.752-18.166%2C8.752c-11.217%2C0-17.385-6.17-17.385-19.404V429.98%20%20%20c0-2.355-0.898-3.031-2.803-3.141l-3.592-0.225v-9.197h19.738v32.191c0%2C6.84%2C1.123%2C11.998%2C8.303%2C11.998%20%20%20c7.85%2C0%2C11.996-5.271%2C11.996-11.104v-20.303c0-2.467-0.672-3.361-2.803-3.361l-3.588-0.225v-9.197h19.738v54.283%20%20%20c0%2C18.506-9.305%2C26.135-26.018%2C26.135c-7.066%2C0-16.375-1.348-21.084-3.703v-15.59l10.652-0.898v5.387%20%20%20c0%2C2.127%2C0.562%2C3.25%2C2.578%2C4.033c2.131%2C0.787%2C4.6%2C1.121%2C7.965%2C1.121c10.318%2C0%2C14.467-6.279%2C14.467-16.484V463.176z%22%2F%3E%20%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat;
    background-position: center;
    background-size: cover; }

#nav {
  margin-top: 15px; }

.navbar {
  margin: auto;
  width: 240px;
  color: #A3A3A3;
  border: 1px solid #D3D3D3;
  border-left: none;
  font-size: 12px;
  border-radius: 3px; }
  .navbar li {
    float: left;
    border-left: 1px solid #D3D3D3;
    background: #E3E3E3;
    padding: 3px 7px;
    cursor: pointer;
    width: 65px;
    text-align: center; }
  .navbar li.active {
    background: #fff; }

.profile__prof-picture img {
  width: 75px;
  height: 75px;
  display: block; }

.group:after {
  content: "";
  display: block;
  clear: both; }
