.users-index-header {
  width: 930px;
  margin: auto;
  color: #05B8CC;
  border-bottom: 1px solid #ccc;
  padding-top: 30px; }
  .users-index-header h3 {
    float: left;
    font-size: 16px;
    padding: 10px;
    padding-bottom: 5px; }
  .users-index-header .users-index__count {
    float: right;
    color: #2ce6ce;
    margin-left: 8px; }
  .users-index-header .users-index__options {
    float: right; }
    .users-index-header .users-index__options li {
      padding: 5px 8px;
      border-right: 1px solid #ccc;
      float: left;
      margin-top: 5px;
      cursor: pointer; }
    .users-index-header .users-index__options .users-index__options__add {
      border-right: none; }
