h3 {
  color: #05B8CC;
  font-size: 16px; }

.user-profile-header {
  width: 900px;
  margin: auto;
  font-size: 14px;
  padding-top: 25px; }
  .user-profile-header .profile__prof-picture {
    float: left;
    width: 420px;
    background: #EDEDED; }
    .user-profile-header .profile__prof-picture img {
      float: left;
      width: 100px;
      height: 100px;
      display: block;
      margin-right: 20px;
      border: 1px solid #EDEDED; }
    .user-profile-header .profile__prof-picture .profile__pic-words {
      display: block;
      float: left;
      padding: 8px;
      padding-top: 19px; }
    .user-profile-header .profile__prof-picture h3 {
      padding-bottom: 8px; }
    .user-profile-header .profile__prof-picture p {
      color: #A3A3A3; }
    .user-profile-header .profile__prof-picture button {
      font-size: 12px;
      border-bottom: 1px solid #2ce6ce;
      color: #2ce6ce;
      cursor: pointer; }

.user-profile {
  width: 900px;
  margin: auto;
  font-size: 14px; }
  .user-profile .profile__left {
    width: 440px;
    float: left;
    color: #A3A3A3;
    margin-top: 10px; }
  .user-profile .profile__prof-picture {
    float: left;
    width: 420px;
    background: #EDEDED; }
    .user-profile .profile__prof-picture img {
      float: left;
      width: 100px;
      height: 100px;
      display: block;
      margin-right: 20px;
      border: 1px solid #EDEDED; }
    .user-profile .profile__prof-picture .profile__pic-words {
      display: block;
      float: left;
      padding: 8px;
      padding-top: 19px; }
    .user-profile .profile__prof-picture h3 {
      padding-bottom: 8px; }
    .user-profile .profile__prof-picture p {
      color: #A3A3A3; }
    .user-profile .profile__prof-picture button {
      font-size: 12px;
      border-bottom: 1px solid #2ce6ce;
      color: #2ce6ce;
      cursor: pointer; }
  .user-profile .form__button, .user-profile .profile__right .profile__groups button {
    text-align: center;
    padding: 5px 25px;
    background: #00688B;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin-top: 30px; }
  .user-profile .profile__form {
    float: left;
    width: 420px;
    margin-top: 30px; }
    .user-profile .profile__form h3 {
      padding-bottom: 3px;
      border-bottom: 1px solid #ccc;
      width: 420px; }
    .user-profile .profile__form .profile__form__email {
      color: #2ce6ce;
      float: left; }
    .user-profile .profile__form .profile__form__email-sub {
      font-size: 10px;
      float: left;
      margin-left: 3px; }
    .user-profile .profile__form label {
      padding-top: 13px;
      display: block;
      font-size: 12px; }
    .user-profile .profile__form input {
      width: 410px;
      background: #fff;
      padding: 5px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px; }
  .user-profile .profile__right {
    width: 420px;
    float: left;
    margin-top: 161px;
    margin-top: 40px;
    margin-left: 25px; }
    .user-profile .profile__right .profile__groups h3 {
      padding-bottom: 3px;
      border-bottom: 1px solid #ccc;
      width: 420px;
      margin-bottom: 32px; }
    .user-profile .profile__right .profile__groups li {
      background: #DCDCDC;
      padding: 5px 0px;
      padding-left: 5px;
      padding-right: 15px;
      text-align: center;
      float: left;
      margin: 5px 15px;
      margin-left: 0px;
      border-radius: 4px; }
    .user-profile .profile__right .profile__groups .del-x {
      color: #fff;
      border-radius: 100%;
      border: 2px solid #fff;
      padding: 0px 3px;
      font-size: 12px;
      float: left;
      margin-right: 10px;
      line-height: 1;
      cursor: pointer; }
