
<script type="text/template" id="groups-modal-template">
  <main class="user-groups-modal group">
    <h1>
      Select groups for this user
    </h1>
    <ul class="user-groups-list group">
    </ul>
    <button type="user-groups-button">Confirm</button>
  </main>
</script>
