
<script type="text/template" id="groups-index-template">
  <header class="index-header group">
    <h3>
      List of groups <div class="index__count"> <%= count %>
    </h3>

    <ul class="index__options">
      <li class="index__options__edit">edit</li>
      <li class="index__options__delete">delete</li>
      <li class="index__options__add">add groups</li>
    </ul>
  </header>

<main class="groups-index-main group">

  <ul class="groups-index group">
  </ul>

  <form>
    <input type="text" placeholder="Create Group">
    <button class="form__button">OK</button>
  </form>

</main>
</script>
