<script type="text/template" id="nav-template">
  <ul class="navbar group">
    <li id="navbar-profile"> My Profile </li>
    <li id="navbar-users"> Users </li>
    <li id="navbar-groups"> Groups </li>
  </ul>

</script>
