<script type="text/template" id="user-profile-template">
  <section class="user-profile-header group">


    <div class="profile__prof-picture">
    <img class="profile__pic" src='<%= user.escape("picture")%>'/>
    <div class="profile__pic-words">
      <h3 class="profile__pic__header">
        Your photo
      </h3>
      <p>
        Photo should be at least 300px X 300px
      </p>
      <button> Remove current photo</button>

    </div>
    </div>

  </section>
    <main class="profile-user-show">

    </main>

</script>
