<script type="text/template" id="users-index-template">
	<header class="index-header group">
		<h3>
			List of users <div class="index__count"> <%=count%>
		</h3>

		<ul class="index__options">
			<!-- <li class="index__options__edit">edit</li> -->
			<li class="index__options__delete">delete</li>
			<li class="index__options__add">add users</li>
		</ul>
	</header>

	<ul class="users-colnames group">
		<li class="check-all">
			v
		</li>
		<li class="users-colnames__email">
			Email/Username
		</li>
		<li class="users-colnames__first-name">
			First Name
		</li>
		<li class="users-colnames__last-name">
			Last Name
		</li>
		<li class="users-colnames__groups">
			Last Name
		</li>
	</ul>

	<ul class="users-index group">
	</ul>
</script>
