<script type="text/template" id=article-index-template>



  <nav class="index-navbar nav-gradient group">
    <h3 class="unpublished-count">Unpublished artilces</h3>
    <ul class="nav-list">
      <li>
        <div class="nav-author">
          Author
        </div>
      </li>
      <li>
        <a class="nav-hover words" href="/#/?sort=words">
          Words
        </a>
      </li>
      <li>
        <a class="nav-hover submitted" href="/#/?sort=date">
          Submitted
        </a>
      </li>
    </ul>
  </nav>

  <ul class="articles-list group">

  </ul>

  <button class="more-articles">More</button>




</script>
